<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echat.easychat.mapper.UserContactMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.echat.easychat.entity.UserContact">
        <id column="user_id" property="userId" />
        <id column="contact_id" property="contactId" />
        <result column="contact_type" property="contactType" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, contact_id, contact_type, create_time, status, last_update_time
    </sql>
    <select id="selectByContactId" resultType="com.echat.easychat.entity.UserContact">
        SELECT * FROM user_contact WHERE contact_id = #{contactId}
    </select>

</mapper>
